/* src/app/globals.css */
@import "tailwindcss";

@theme {

  --color-background: #0B0B0B; /* negro suave NF */
  --color-foreground: #EAEAEA; /* blanco/gris NF */

  --color-nf-yellow: #F6C739;
  --color-nf-black:  #0B0B0B;
  --color-nf-white:  #EAEAEA;

}

@media (prefers-color-scheme: light) {
  @theme {
    --color-background: #ffffff;
    --color-foreground: #171717;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  @keyframes pulse-glow {
    0%, 100% { opacity: 0.15; transform: scale(1); }
    50% { opacity: 0.25; transform: scale(1.05); }
  }

  .animate-pulse-glow {
    animation: pulse-glow 8s ease-in-out infinite;
  }
  .animate-pulse-glow-delayed {
    animation: pulse-glow 10s ease-in-out infinite 2s;
  }
}

/* Ocultar scrollbar pero mantener scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}
